{{>layout/header}}
	<body>
		<div class="container" style="max-width: 560px;">
			<form class="mt-5">
				<h4>브랜드 추가하기</h4>
				<hr class="mb-3" style="border: solid 2px;" />
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="name" placeholder="브랜드명을 입력해주세요.">
					<label for="name">브랜드명</label>
				</div>
				<button type="button" class="btn btn-primary" id="regBtn">등록</button>
			</form>
		</div>
	</body>
	<script src="/js/brand.js"></script>
{{>layout/footer}}