{{>layout/header}}
		<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
		{{#brandList}}
		  <li class="nav-item" role="presentation">
		    <button class="nav-link" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}-tab-pane" type="button" role="tab" aria-controls="{{name}}-tab-pane" aria-selected="false">{{name}}</button>
		  </li>
	    {{/brandList}}
		</ul>
		<div class="tab-content" id="myTabContent">
		{{#brandList}}
		  <div class="tab-pane fade" id="{{name}}-tab-pane" role="tabpanel" aria-labelledby="{{name}}-tab" tabindex="0">
		  {{name}}
		  </div>
		{{/brandList}}
		</div>
{{>layout/footer}}	